<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet" />
    <title>Project</title>
  </head>

  <body>
    <nav class="orange">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">순이와의 생활분석</a>
        <ul class="right" style="margin-right: 40px">
          <li>
            <form method="get" action="/report">
              <div class="input-field">
                <input id="search" name="id" type="search" style="height: auto" placeholder="Search User" />
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="container-main">
        <div class="row">
          <div class="col s12 m6 l3">
            <div class="card large hoverable">
              <div class="card-content">
                <span class="card-title">생활 점수 <%= report.regularity %></span>
                <p>안녕하세요 나이 <%= report.age %>세 <%= report.name %>님!</p>
                <p><%= report.regularityMessage %></p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l5">
            <div class="card large hoverable">
              <div class="card-content">
                <span class="card-title">선호 활동</span>
                <p>가장 많은 비율을 차지한 활동은 <%= report.clusterActivity %>이에요!</p>
                <div class="chart-container">
                  <canvas id="chart1"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card large hoverable">
              <div class="card-content">
                <span class="card-title">활동 점수 <%= report.activness %>점</span>
                <p class="bold"><%= report.name %>님이 속한 나이대는 <%= report.ageRange %>대에요.</p>
                <p><%= report.name %>님의 활동 점수는 <%= report.activness %>점이에요.</p>
                <p>비슷한 나이대의 <%= report.activeTotal %>명 중 <%= report.activeRank %>등 하셨어요.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card large hoverable">
              <div class="card-content">
                <span class="card-title">순이와의 친밀도는 <%= report.friendScore %>점</span>
                <p>123명의 참가자 중 <%= report.friendRank %>등 이시네요!</p>
                <p><%= report.friendMessage %></p>
                <div class="chart-container">
                  <canvas id="chart3"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card large hoverable">
              <div class="card-content">
                <span class="card-title">프로그램 참여</span>
                <p class="bold">프로그램에 참여한 총 횟수는 <%= report.programTotal %>번 입니다.</p>
                <p>다음에는 <%= report.programRecom %>에 참여해 보시는것은 어떨까요?</p>
                <div class="chart-container">
                  <canvas id="chart2"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const dropdown = document.querySelectorAll(".dropdown-trigger");
      const dropdownInstance = M.Dropdown.init(dropdown);

      const sidenav = document.querySelectorAll(".sidenav");
      const sidenavInstance = M.Sidenav.init(sidenav);

      const collapsible = document.querySelectorAll(".collapsible");
      const collapsibleInstance = M.Collapsible.init(collapsible);
    });

    const ctx1 = document.getElementById("chart1").getContext("2d");
    const chart1 = new Chart(ctx1, {
      type: "pie",
      data: {
        labels: <%- JSON.stringify(pieChartData.keyArray) %>,
        datasets: [
          {
            label: "활동 비율",
            data: [<%= pieChartData.valueArray %>],
            backgroundColor: ["#ffa726", "#f57c00", "#e65100"],
            hoverOffset: 4,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
      },
    });

    const ctx2 = document.getElementById("chart2").getContext("2d");
    const chart2 = new Chart(ctx2, {
      type: "bar",
      data: {
        labels: <%- JSON.stringify(barChartData.keyArray) %>,
        datasets: [
          {
            label: "프로그램 참여 횟수",
            data: [<%= barChartData.valueArray %>],
            backgroundColor: ["#ffa726", "#f57c00", "#e65100"],
            hoverOffset: 4,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
            steps: 10,
            stepValue: 1,
            max: 10
          }
        }
      },
    });

    const ctx3 = document.getElementById("chart3").getContext("2d");
    const chart3 = new Chart(ctx3, {
      type: "doughnut",
      data: {
        labels: ["응답 비율", "미응답 비율"],
        datasets: [
          {
            label: "순이와의 대화 비율",
            data: [<%= donutChartData.valueArray %>],
            backgroundColor: ["#ffa726", "#808080"],
            hoverOffset: 4,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
      },
    });
  </script>
</html>
